---
title: "MVS Mandarin"
---

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "cover" %>
<% end %>

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="inner cover">
				<h1 class="cover-heading">MVS Mandarin Video Site</h1>
				<p class="lead">Welcome to the homepage for Mandarin videos at the Miami Valley School! Here you can find videos created by Cora Ceipek '15 (&#38472;&#24935;&#29618;) and Rachel Gorsky (&#39640;&#32769;&#24072;).</p>
				<p class="lead">
					<a href="miii/" class="btn btn-lg btn-default">Mandarin III</a>
				</p>
			</div>

			<div class="mastfoot">
				<div class="inner">
					<p>Website template created with <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>